.RegisterPage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/1d26c5b022c071fb8f1e3ae2f0f65ba9.gif')
    no-repeat;
}

.RegisterPage .wrapper{ 
    width: 420px;
    background-color: transparent;
    border: 2px solid transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    
}
.RegisterPage .wrapper h1{
    text-align: center;
    color: white;
}

.RegisterPage .wrapper a{
    text-align: right;
}

.RegisterPage .input-box {
    position: relative;
    width: 100%; 
    height: 50px; 
    margin: 30px 0 20px 0;
}

.RegisterPage .input-box input{
    width: 93.92%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(219, 219, 219, 0.993);
    border-radius: 40px;
    background: transparent;
    padding-left: 20px;
    transition: 0.1s ease-in-out;
}

.RegisterPage .input-box input:hover{
    border: 2px solid rgb(255, 255, 255);
}


.RegisterPage .input-box input:focus-within{
    border: 2px solid rgb(255, 255, 255);
}

.RegisterPage .input-box input::placeholder {
    color: white;
}

.RegisterPage .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
}

.RegisterPage .button-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterPage .button-sign button{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.RegisterPage .button-sign button:hover {
    background-color: black;
    color: white;
}

.RegisterPage .already {
    font-size: 15px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.RegisterPage .already a{
    color: white;
    text-decoration: none;
}

.already .sign {
    transition: 0.1s ease-in-out;
}

.already .sign:hover {
    color: black;
}




