.HomePage{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    /* background: url('../Assets/background.jpg'); */
}

.notes {
    /* padding: 0 55px; */
    width: 100%;
    /* display: inline-flex; */
}

.note {
    background: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(5px);
    /* box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03); */
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color: #000000;
    padding: 15px;
    min-height: 140px;
    display: inline-flex;
    flex-direction: column;
    /* justify-content: space-between; */
    word-wrap: break-word;
    margin-top: 10px;
    width: 240px;
    /* width: calc(33.33% - 20px); */
    /* margin-left: 3.5%; */
    margin-right: 10px;
    margin-left: 32px;
    transition: 0.1s ease-in-out;
    
}

@media screen and (max-width: 1482px){
    .note {
        padding: 10px;
    }
}

@media screen and (max-width: 1248px){
    .note {
        margin-right: 5px;
    }
}

@media screen and (max-width: 1464px){
    .note {
        padding: 5px;
    }
}

@media screen and (max-width: 936px){
    .note {
        margin-left: 20px;
    }
}

@media screen and (max-width: 920px){
    .note {
        margin-left: 68px;
    }
}

.note:hover {
    background-color: rgba(190, 133, 196, 0.678);
    box-shadow: 0 0 20px black;
}

.note:hover .note-content::placeholder{
    color: white;
}

.note:hover .note-title::placeholder{
    color: white;
}

.note_footer {
    display: inline;
    /* align-items: center; */
    /* justify-content: right; */
    
}

/* .note_footer:last-child {
    margin-left: auto;
} */

/* .note_footer:first-child {
    margin-right: auto;
} */

.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: #000000;
    resize: none;
    font-size: 17px;
    height: 40px;
}

.note textarea:focus {
    outline: none;
}

.note .note-title {
    height: 20px;
}

.note .note-title::placeholder {
    color: #000000;
    font-size: 17px;
}

.note .note-content{    
    height: 75px;
}


.note .note-content::placeholder {
    color: #929191;
    font-size: 17px;
}

.note .note_footer p {
    font-size: 10px;
    white-space: pre-wrap;
    padding-right: 15px;
    
}

.note_save {
    background: rgba(255, 255, 255, 0.507);
    transition: 0.1s ease-in-out;
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

.note_save:hover {
    background: #ffffff;
    border: none;
    color: #000000;
}

.HomePage .note-tags-input {
    border-radius: 10px;
    border: none;
    width: 50%;
    padding: 5px 5px;
    margin-right: 10px;
}

.HomePage .note-tags {
    display:inline-block;
    word-wrap: break-word; 
}


.HomePage .note-tags .tag {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 3px;
}

.HomePage .note-tags .btn-remove {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.514);
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

.HomePage .note-tags .btn-remove:hover {
    color: red;
}

.HomePage .tag-display {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    padding-right: 5px;
}

.note-header {
    font-weight: bold;
}

.tag-container {
    display: inline-block;
    word-wrap: break-word;
    /* background-color: aqua; */
}

.btn-container {
    display: flex;
    /* background-color: blue; */
    justify-content: left;
    width: 100%;
}

.sort-section {
    display: flex;
    justify-content: right;
    padding: 10px 5px 0 5px;
    margin-right: 20px;
}

.sort-section select {
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
    box-shadow: 0 0 3px black;
    border: none;
    cursor: pointer;
    color: #929191;
}

.sort-section button {
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.sort-section button:hover {
    background-color: #000000;
    color: #fff;
}

.footer-btn { 
    display: flex;
    justify-content: right;
}

.note_footer_create {
    display: flex;
}
