body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('C:\Users\STUDENT\Documents\GitHub\Note-Easy\my-app\src\Components\Assets\background.jpg');
}

.wrapper{ 
    padding: 20px;
    background-color: transparent;
    border: solid;
    backdrop-filter: blur(30px);
    border-radius: 10px;
}
.wrapper h1{
    text-align: center;
}